* {
    margin: 0;
    padding: 0;
}
 
body {
    background: #e2e2e263;
}    
.sidebar {
    height: 1000px;
}
 
i {
    position: fixed;
    right: 0;
    bottom: 100px;
    font-size: 28px;
    color: #2196F3;
    cursor: pointer;
}
ul {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
 
li {
    list-style: none;
    padding: 10px;
    box-shadow: 2px 4px 2px 1px #00000024;
    text-align: center;
    margin: 10px;
    background: #80808085;
}